.logo-bg {
    width: 50px;
    height: 50px;
    background-image: url('assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* header.component.css */
.menu-toggle {
    background-image: url('./assets/burgermenu.png'); /* Adjust the path accordingly */
    background-size: contain; /* Make sure the image fits well within the button */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Ensure that the button doesn't have any unwanted text or content inside */
  .menu-toggle .sr-only {
    display: none;
  }
  