.features-section {
    background-color: #262627;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.glossy-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 250px;
}

.glossy-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

#features {
    padding-top: var(--space-above-features, 4rem);
}

@media (min-width: 768px) {
    .grid {
        gap: 1.5rem;
        /* Define the grid to have equal height rows */
        grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    }
}